@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color: #e7e3e3;
 color: #111;
 font-family: 'Lexend', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul li{
  list-style-type: none;
}



